<div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                Bienvenue sur la toute nouvelle version de Heliactyl, vous pouvez retirer cette alert en allant dans le fichier /themes/default/components/alert.ejs.
            </div>
